
*.v2
*.vsidx
 
*.bin
*.cache
Booking.API/obj/project.assets.json
 
Booking.API/.vs/
 
Booking.API/bin/
 
Booking.API/obj/
Booking.API/.idea/.idea.Booking.API/.idea/vcs.xml
Booking.API/.idea/.idea.Booking.API/.idea/indexLayout.xml
Booking.API/.idea/.idea.Booking.API/.idea/encodings.xml
