<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/062abbe8-72f6-4b83-9c14-ea2149e2101b/resourcegroups/BookingAPI20240701013748232ResourceGroup/providers/Microsoft.Web/sites/BookingAPI20240701013748232</ResourceId>
    <ResourceGroup>BookingAPI20240701013748232ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://bookingapi20240701013748232.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>07f2305e-3bcd-4294-be52-9989e8f79a39</ProjectGuid>
    <PublishUrl>https://bookingapi20240701013748232.scm.azurewebsites.net/</PublishUrl>
    <UserName>$BookingAPI20240701013748232</UserName>
    <_SavePWD>true</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>